<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Home - Rate my Jorts!</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Rate my Jorts!</a></h1>
        </header>
        <main>
            <h2>Latest Snippets</h2>
            <p>There's no Jorts to rate yet!</p>
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
    </body>
</html>